.navBar{
    background: #8D292B;
}

 /* Small devices (landscape phones, 576px and up) */

@media (min-width: 375px)  {
   
    .container-logo{
       display: flex;
       flex-direction: row-reverse;
       flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        box-sizing: border-box;
    }

.logo{
    width: 8.75rem;
}
.container-logo-parte-1{
   margin-left: 1.875rem;
  
}
.container-logo-parte-2{
   padding-top: .625rem;

}
.container-logo-parte-2 h6{
  font-size: .9375rem;
}
.container-menu{
    margin-top: 0;
    margin-bottom: .625rem;
}

}

@media (min-width:576px)  {
    .container-logo{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
         margin: 0;
         padding: 0;
         color: whitesmoke;
         box-sizing: border-box;
     }
 
 .logo{
     width: 10rem;
 }
 .container-logo-parte-1{
    margin-left: 150px;
   
 }
 .container-logo-parte-2{
    padding-top: .625rem;
 
 }
 .container-logo-parte-2 h6{
   font-size: .9375rem;
 }
 .container-menu{
     margin-top: 0;
     margin-bottom: .625rem;
 }
}

@media (min-width:768px)  {
    .container-logo{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
         margin: 0;
         padding: 0;
         color: whitesmoke;
         box-sizing: border-box;
     }
 
 .logo{
     width: 10rem;
 }
 .container-logo-parte-1{
    margin-left: 250px;
   
 }
 .container-logo-parte-2{
    padding-top: .625rem;
 
 }
 .container-logo-parte-2 h6{
   font-size: .9375rem;
 }
 .container-menu{
     margin-top: 0;
     margin-bottom: .625rem;
 }
}

@media (min-width: 992px)  {
    .container{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }
    .container-logo{
        display: flex;
        flex-direction:row;
        margin: 0;
        padding: 0;
         color: whitesmoke;
     }
 
 .logo{
     width: 150px;
 }
 .container-logo-parte-1{
     position: relative;
     margin: -0.625rem;
   
 }
 .container-logo-parte-2{
    position: relative;
    margin-left: -7.5rem;
    padding-bottom: .625rem;
    
 
 }
 .container-logo-parte-2 h6{
   font-size: .9375rem;
 }
 .container-menu{
    position: relative;
    margin-left: -31.25rem;
    padding-top: 5rem;
 }
}

@media (min-width: 1200px)  {
    .container{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        height: 100px;
    }
    .container-logo{
        display: flex;
        flex-direction:row;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         color: whitesmoke;
     }
 
 .logo{
     width: 120px;
 }
 .container-logo-parte-1{
     position: relative;
     margin-left: -5.625rem;
    
 }
 .container-logo-parte-2{
    position: relative;
    margin-left: -6.25rem;
  
    
 
 }
 .container-logo-parte-2 h6{
   font-size: .9375rem;
 }
 .container-logo-parte-2 h1{
    font-size: 30px;
  }

 
}


